@charset "utf-8";


.opacity0{
  opacity: 0;
}

.page{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  display: none;
  z-index: 9;
}

.logo{
  width: 62%;
  position: absolute;
  left: 50%;
  top: 8%;
  margin: 0 0 0 -31%; 
  z-index: 12;
  text-align: center;
}

.flower{
  width: 57%;
  display: inline-block;
  margin: 46% 0 0 0;
  position: relative;
}


.spinner{
  position: absolute;
  left: 0;
  bottom: -40%;
  width: 100%;
  text-align: center;
}

.spinner > div {
  width: 6px;
  height: 6px;
  background-color: #919295;
  border-radius: 100%;
  display: inline-block;
  margin-right: 6px;
  -webkit-animation: bouncedelay 2s infinite ease-in-out;
  animation: bouncedelay 2s infinite ease-in-out;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.spinner .bounce2 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.spinner .bounce3 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { background-color: #919295; }
    40% { background-color: #fff;}
}

@keyframes bouncedelay {
    0%, 80%, 100% { background-color: #919295;} 
    40% { background-color: #fff;}
}



/* video */

.pageCon{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 16;
}

#video{
  background: url("../imgs/bg.jpg") center bottom no-repeat;
  background-size: 100% auto;
}

.video{
  width: 100%;
  display: inline-block;
  margin: 40% 0 0 0;
  position: relative;
  z-index: 3;
}


.poster{
  width: 100%;
  position: relative;
  z-index: 2;
}

.poster span{
  width:100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: url("../imgs/play.png") center no-repeat;
  background-size: 18% auto;
}

#mod_player{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.slogan{
  width: 38%;
  position: absolute;
  left: 50%;
  top: -27%;
  margin: 0 0 0 -19%;
  z-index: 6;
}

.changeTips{
  width: 50%;
  position: absolute;
  left: 50%;
  bottom: -36%;
  margin: 0 0 0 -25%;
  z-index: 6;
}

.wifitips{
  width: 108%;
  position: absolute;
  left: -4%;
  bottom: -8%;
}


.swipeArea{
  width: 100%;
  height: 40%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}


.pageArr { 
    width: 6%;
    position: absolute;
    left: 50%;
    bottom: 2%;
    margin: 0 0 0 -3%;
    -webkit-animation: start 1.5s infinite ease-in-out;
    -moz-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;

}



/**
 * = animate 鍔ㄧ敾鏍峰紡
 *******************************************************************************************************/
/*绠ご鎸囩ず寮曞*/
@-webkit-keyframes start {
  0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
  60% {opacity: 1;-webkit-transform: translate(0,0);}
  100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@-moz-keyframes start {
  0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
  60% {opacity: 1;-webkit-transform: translate(0,0);}
  100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@keyframes start {
  0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
  60% {opacity: 1;-webkit-transform: translate(0,0);}
  100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}







/* qrcode */
#qrcode{
  background: url("../imgs/qrcode_bg.jpg") center top no-repeat;
  background-size: 100% auto;
}

.qrcode_con{
  width:46%;
  display: inline-block;
  margin: 56% 0 0 0;
  position: relative;
}

.ewmtips{
  width: 100%;
  position: absolute;
  left: 0;
  top: -29%;
}










/* 4s */

@media handheld and (min-height:400px),screen and (max-height:420px) {

  .logo{
    top: 9%;
  }

  #video{
    background: url("../imgs/bg.jpg") center bottom no-repeat;
    background-size: 100% auto;
  }

  .video{
    margin: 32% 0 0 0;
  }

  .slogan{
    width: 40%;
    position: absolute;
    left: 50%;
    top: -18%;
    margin: 0 0 0 -20%;
    z-index: 6;
  }

  .changeTips{
      width: 50%;
      position: absolute;
      left: 50%;
      bottom: -30%;
      margin: 0 0 0 -25%;
      z-index: 6;
    }



  #qrcode{
    background: url("../imgs/qrcode_bg.jpg") center bottom no-repeat;
    background-size: 100% auto;
  }


  .qrcode_con{
    margin: 38% 0 0 0;
  }



}



.wrapFrom{
  width: 100%;
  height: 100%;
  background: #ebebeb;
  text-align: center;
}


.fpage{
  width: 76%;
  display: none;
  margin: 16% 0 0 0;
}

.fpage#form{
  display: inline-block;
}

#form h1{
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding: 0 0 15% 0;
}

#form h1 span{
  width: 100%;
  font-size: 18px;
  display: inline-block;
}

#form h2{
  width: 100%;
  font-size: 16px;
  display: inline-block;
}

#form ul{
  width: 100%;
  display: inline-block;
  margin: 15% 0;
}

#form li{
  width: 100%;
  padding: 6px 0;
  background: #e5e0da;
  font-size: 14px;
  color: #a5a5a5;
  margin: 9px 0;
  display: inline-block;
}

#form li.sex{
  background:#e5e0da url("../imgs/select_arr.png") no-repeat 92% center;
  background-size: 5% auto;
}

#form li span{
  width: 27%;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  float: left;
  text-align: center;
}

#form li input, #form li select{
  width: 70%;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  background: none;
  border:none;
  font-size: 14px;
  float: left;
}



/*#form li input{
  width: 80%;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  background: none;
  border:none;
  font-size: 14px;
}*/

.pf_footer{
  width: 100%;
  display: inline-block;
}

.submit_btn{
  width: 38%;
  display: inline-block;
  position: relative;
}

.submit_btn em{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin: -10% 0 0 0;
  font-size: 16px;
  color: #fff;
}

.rule_link{
  font-size: 18px;
  color: #533f35;
  width: 100%;
  display: inline-block;
  margin: 6% 0 20% 0;
}

.rule_link i{
  font-style: normal;
  border-bottom: 1px #533f35 solid;
}





/* rule */
#rule h1{
  font-size: 22px;
  width: 100%;
  display: inline-block;
  margin: 6% 0 18% 0;
}

#rule h2{
  font-size: 18px;
  width: 100%;
  display: inline-block;
}

.back_btn{
  width: 38%;
  display: inline-block;
  position: relative;
}

.back_btn em{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin: -10% 0 0 0;
  font-size: 16px;
  color: #fff;
}

#rule .pf_footer{
  margin: 20% 0 22% 0;
}


.successPup{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  background: rgba(0,0,0,0.95);
  display: none;
}


.successPup_con{
  width:60%;
  height: 100px;
  line-height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -30%;
  background: #e5e0da url("../imgs/r_icon.png") no-repeat 27% center;
  color: #533f35;
  background-size: 10% auto;
  font-size: 18px;
}

.successPup_con span{
  display: inline-block;
  margin: 0 0 0 42%;
  float: left;
}





















